html,
body {
    font-family: Arial, sans-serif; /* Выберите желаемый шрифт */
    margin: 0; /* Убираем стандартные отступы */
    padding: 0; /* Убираем стандартные отступы */
    color: #333; /* Основной цвет текста */
}

body {
    background-color: #f4f4f4; /* Фоновый цвет, если нет картинки */
    background: url("../bg/bg.png") 0 0 repeat; /* Фон с картинкой */
    /* margin: 20px; - Убрано, так как контейнер будет отвечать за центрирование и отступы */
}

h1 {
    color: #0056b3;
    text-align: center; /* Центрируем заголовок */
    margin-top: 30px; /* Отступ сверху для заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.today {
    background-color: #e0ffe0;
    font-weight: bold;
    border: 1px solid #4CAF50;
}

.patient-type-первичный {
    color: #d9534f;
    font-weight: bold;
}

.patient-type-вторичный {
    color: #5cb85c;
    font-weight: bold;
}

.patient-type-консультация {
    color: #f0ad4e;
}

/* Стили для ссылок, чтобы они выглядели как кнопки */
.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50; /* Зеленый цвет, как у кнопки записи */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #45a049;
    text-decoration: none;
}

/* Центрируем параграфы (для ссылок внизу) */
p {
  text-align: center;
  padding-left: 0;
  margin-top: 15px; /* Отступ сверху для параграфа с кнопками */
  margin-bottom: 15px; /* Отступ снизу для параграфа с кнопками */
}